/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f3f3f3 40%, #d9d9d9 100%);
    color: #333;
}

/* Navbar Styling */
header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 204, 0, 0.9);
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #333;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff9900;
}

/* Hero Section with Overlay */
.hero-section {
    position: relative;
    background-image: url('https://img.freepik.com/free-photo/top-view-tasty-salad-with-seasonings-grey-health-salad-food-diet_140725-123755.jpg?t=st=1729771160~exp=1729774760~hmac=dffa657c5bafa1147e58ebceaf0d3e695be714897d4d3e3462185b3e86f97b90&w=900');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-text h2 {
    font-size: 3.5em;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: 400;
}

.btn {
    padding: 12px 35px;
    background-color: #ffcc00;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #ff9900;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Menu Preview Section with Boxes */
.menu-preview {
    margin-top: 60px;
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 80%;
    margin: 60px auto;
}

.menu-preview h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
}

.image-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.image-card {
    width: 300px;
    background-color: #fefefe
